h1 {
    text-align: center;
    
    color: red;


}
ol {
    text-align:left;
}
.container {
    background-color: #ffffff;
    height: 100%;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    


    
}
p {
    color:red;
    text-align: center;
}
body {
    background-color: #dddddd;
    margin: 0;
    height: 100%;
    width: 100%;



}
img {
    width:500px;
    
    

}